html, body {
  padding: 0;
  margin: 0;
  font-family: Salsa;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/Material-Icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: middle;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.title-bar {
  padding: 5px;
  height: 20px;
  background: #fafafa;
  display: flex;
}

.title-bar .brand-logo {
  cursor: pointer;
  width: fit-content;
  margin: 0;
}

.title-bar .brand-logo > * {
  vertical-align: middle;
}

.title-bar .action-buttons {
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
}

.title-bar .action-buttons span {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  border-radius: 50%;
  color: white;
  height: 10px;
  font-size: 10px;
  cursor: pointer;
}

.title-bar .action-buttons .minimize {
  background: #2acb43;
  border: 2px solid #2f9e3e;
  margin-right: 6px;
}

.title-bar .action-buttons .restore {
  background: #febf30;
  border: 2px solid #d6a642;
  margin-right: 6px;
}

.title-bar .action-buttons .close {
  background: #ff6258;
  border: 2px solid #be605b;
}

.title-bar .action-buttons .material-icons {
  font-size: 10px;
}
#sidebar {
  padding-left: 50px;
}

#sidebar .label {
  /* Style for "Library" */
  width: 51px;
  height: 18px;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

#sidebar .sidebar-buttons {
  display: flex;
  flex-direction: column;
}

#sidebar .sidebar-button {
  margin-bottom: 10px;
  background: none;
  border: none;
  border-left: 3px solid transparent;
  padding-left: 10px;
  width: 100px;
  cursor: pointer;
}

#sidebar .sidebar-button:hover {
  border-color: crimson;
}
#sidebar .sidebar-button i {
  font-size: 17px;
}
#sidebar .sidebar-button span {
  width: 47px;
  height: 18px;
  color: #000000;
  font-family: Salsa;
  font-size: 15px;
  font-weight: 400;
}