html, body {
  padding: 0;
  margin: 0;
  color: #353535;
  height: -webkit-fill-available;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/Material-Icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: middle;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

#top-frame {
  display: flex;
  flex-direction: row;
}

#sidebar {
  padding-left: 50px;
  padding-right: 22px;
}

#sidebar .label {
  width: 51px;
  height: 18px;
  color: #000000;
  font-family: Salsa;
  font-size: 15px;
  font-weight: 400;
}

#sidebar .sidebar-buttons {
  display: flex;
  flex-direction: column;
}

#sidebar .sidebar-button {
  margin-bottom: 10px;
  background: none;
  border: none;
  border-left: 3px solid transparent;
  padding-left: 10px;
  width: 100px;
  cursor: pointer;
}

#sidebar .sidebar-button:hover {
  border-color: crimson;
}

#sidebar .sidebar-button i {
  font-size: 17px;
}

#sidebar .sidebar-button span {
  width: 47px;
  height: 18px;
  color: #000000;
  font-family: Salsa;
  font-size: 15px;
  font-weight: 400;
}

#content {
  padding-left: 40px;
  border-left: 1px solid #f1eded;
}

#content .head {
  padding-left: 30px;
}

#content .head .heading {
  text-transform: uppercase;
}

#content .jam-list .jam {
  display: flex;
  transition: 0.2s;
  cursor: pointer;
  width: 271px;
  height: 36px;
  border-radius: 40px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
  padding: 5px;
}

#content .jam-list .jam:hover {
  box-shadow: 2px 3px 6px 0px #d0c0c3ab;
  transform: translateY(-2px) translateX(-2px);
}

#content .jam .jam-art {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  background-size: cover;
  background-color: white;
}

#content .jam .jam-details {
  flex: 1;
  display: inline-flex;
}

#content .jam .jam-left {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

#content .jam .jam-left h6 {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#content .jam .jam-left .jam-title {
  font-size: 13px;
}

#content .jam .jam-right {
  flex: 1;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}